---
/*
This is to set up Smart Bulletins page using yaml file. 
Page is using full size template with no side nav, it has top nav return to parent page and have table structure for main content
This page is served as one optionfor Smartpay team to compare markdown table structure in MDX file vs Yaml file. 
If SP team prefer markdown way, this page needs to be converted to use markdown way, e.g. guidance page. 
 */
import { getCollection } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import FullSizeTemplate from '@components/FullSizeTemplate.astro'

const files = await getCollection('smart-bulletins')
const smartbulletins= files.filter(a => a.data.order != null).sort(a => 0 - parseInt(a.data.order))

export async function getStaticPaths() {
  const entries = await getCollection('about');
  return entries.map(entry => {
    const slug = entry.slug == './' ? undefined : entry.slug
    return {
      params: { slug: slug },
      props: { entry, entries }
    }
  })
}
---

<PageLayout title="GSA SmartPay Program - Smart Bulletins">
  <FullSizeTemplate 
  title = "Smart Bulletins"
  parent_nav_path = "guidance-and-audits/"
  parent_nav_text = "Return to the Guidance & Audits"
  intro = "Smart Bulletins keep agencies informed of new or updated guidance/regulations, program management practices, and other developments."
  >
     <!-- smart buletins table -->
      <table class="usa-table usa-table--borderless">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Title</th>
            <th scope="col">Business Line(s)</th>
            <th scope="col">Published</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          { smartbulletins.map(item => (
            <tr>
              <th scope="row" class="grid-col-1">{item.data.number}</th>
              <td class="grid-col-5">
                <a href={`${import.meta.env.BASE_URL}guidance-and-audits/smart-bulletins/${item.slug}/`}>{item.data.pageTitle}</a> 
              </td>
              <td class="grid-col-2">{item.data.businessline}</td>
              <td class="grid-col-2">{item.data.published}</td>
              <td class="grid-col-2">{item.data.lastupdated}</td>
            </tr>
          ))}
        </tbody>
      </table>
  </FullSizeTemplate>
</PageLayout>
