---
import { getEntry } from 'astro:content';
import PageLayout from '../../../layouts/PageLayout.astro';
import Intro from '../../../components/Intro.astro'
import TopNav from '../../../components/TopNav.astro'
const smartbulletinsData = await getEntry('smartbulletins', 'smartbulletins');
console.log(smartbulletinsData)
---
<PageLayout title={smartbulletinsData.data.title}>
    <div>
     <TopNav parent_nav_path={smartbulletinsData.data.parent_nav_path} parent_nav_text = {smartbulletinsData.data.parent_nav_text} />
      <h1>{smartbulletinsData.data.title}</h1>
      <Intro into ={smartbulletinsData.data.into} />
      <!--smart buletins table -->
      <table class="usa-table usa-table--borderless">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Title</th>
            <th scope="col">Audience</th>
            <th scope="col">Published</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
         { smartbulletinsData.data.bulletins.map(item=>(
            <tr>
            <th scope="row">{item.number}</th>
            <td>
             <a href={`${import.meta.env.BASE_URL}files/smartbulletins/${item.number}.pdf`}>{item.title}</a> 
            </td>
            <td>{item.audience}</td>
            <td>{item.published}</td>
            <td>{item.lastupdated}</td>
          </tr>

         ))}
          
        </tbody>
      </table>
    </div>
</PageLayout>