---
import PageLayout from '@layouts/PageLayout.astro';
import SideNav from '@components/SideNav.astro'
import FullSizeTemplate from '@components/FullSizeTemplate.astro'
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('policies-and-audits');
  const smartbulletinsData = await getEntry('smartbulletins', 'smart-bulletins');

  return entries.map(entry => {
    const slug = entry.slug == './' ? undefined : entry.slug
    return {
      params: { slug: slug },
      props: { entry, entries, smartbulletinsData }
    }
  })
}
const { entry, entries, smartbulletinsData } = Astro.props;
const { Content, headings } = await entry.render();
const parent_path ="policies-and-audits/"
---

<PageLayout title={entry.data.title}>
  {entry.data.full_size_template? 
  <FullSizeTemplate 
  title={ entry.data.title }
  parent_nav_path="policies-and-audits" 
  parent_nav_text = "Return to the Policies & Audits" 
  intro ={entry.data.intro}
  >
  <Content />
 </FullSizeTemplate>
: 
<SideNav 
    title="Policies & Audits"
    parent_path={parent_path}
    pages={[...entries, smartbulletinsData]}
    headings={headings}
    id={entry.id}
  />  
  <main id="main-content" class="usa-layout-docs__main desktop:grid-col-8 usa-prose usa-layout-docs"> 
    <h1>{ entry.data.title }</h1>

    { entry.data.intro && ( 
      <p class="usa-intro">
        { entry.data.intro }
      </p>
    )}

    <Content />
  </main>
}
</PageLayout>
    
