---
import {generateUniqueId} from '../utils/idGenerator';
//const uniqueID = generateUniqueId({category})

import {v4 as uuidv4} from 'uuid';
const { question, expand=false, heading_level="h2" } = Astro.props;

const uniqueID = uuidv4()

const valid_headings =["h2","h3","h4","h5","h6"]
const DynamicHeading = valid_headings.includes(heading_level)? heading_level: "h2";
---
<div class="usa-accordion usa-accordion--bordered margin-top-2">
    <DynamicHeading class="usa-accordion__heading">
      <button
        type="button"
        class="usa-accordion__button"
        aria-expanded={expand}
        aria-controls={uniqueID}
      >
        {question}
      </button>
    </DynamicHeading>
    <div id={uniqueID} class="usa-accordion__content usa-prose">
      <slot />
    </div>
  </div>