---
//This componet is for Home page call out section under hero section: Section 889 Search, State Tax Information, 25th anniversary celebration 
import callout_889 from "@assets/images/callout_889.svg";
import callout_map from "@assets/images/callout_map.svg";
import smartpay4_feedback from "@assets/images/smartpay4_feedback.png";

const baseUrl = import.meta.env.BASE_URL;
---
<section class="sp_callout">
  <div class="grid-container margin-y-6">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-6 margin-top-1">
        <a href="https://889.smartpay.gsa.gov/">
          <img
            width="464"
            height="286.5"
            src={callout_889.src}
            alt="Three panels from a screen, the first panel has a magnifying glass and reads use the 889 representations search to find your vendor, the second panel has a green check mark and reads in compliance with Section 889, and third panel has a red exclamation mark and reads not in compliance with Section 889."
          />
        </a>
      </div>
      <div class="tablet:grid-col-6">
        <h2 class="margin-top-0">889 Representations Search</h2>
        <p>
          Our 889 Representations Search makes it easy to check an entity’s Section
          889 status in <a href="https://sam.gov/" class="usa-link--external"
            >SAM.gov</a
          >.
        </p>
        <p>
          <a href="https://889.smartpay.gsa.gov/" class="usa-link--external"
            >Go to the 889 representations search</a>
        </p>
      </div>
    </div>
    <div class="grid-row grid-gap margin-y-2">
      <div class="tablet:grid-col-6 margin-top-1">
        <a href={`${baseUrl}smarttax/tax-information-by-state/`}>
          <img
            width="464"
            height="256"
            src={callout_map.src}
            alt="A map of the contiguous United States with Utah highlighted in a darker color than the rest of the states, with Alaska, Hawaii, and U.S territories also shown."
          />
        </a>
      </div>
      <div class="tablet:grid-col-6">
        <h2 class="margin-top-0">State Tax Information</h2>
        <p>
          Check the tax-exempt status and policies of U.S. states and
          territories.
        </p>
        <p>
          <a class="usa-link" href={`${baseUrl}smarttax/tax-information-by-state/`}
            >Go to tax information</a>
        </p>
      </div>
    </div>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-6 margin-top-1" style="text-align: center;">
        <a href={`${baseUrl}about/master-contract/#provide-feedback-on-smartpay-4`}>
          <img 
            width="300"
            height="280"
            src={smartpay4_feedback.src}
            alt="User filling out feedback form questionaire"
          />
        </a>
      </div>
      <div class="tablet:grid-col-6">
        <h2 class="margin-top-0 margin-bottom-1" >
          Provide Feedback on SmartPay 4
        </h2>
        <p>
          We'd love to hear your thoughts on the SmartPay 4 Master Contract.
        </p>
        <p>
          <a class="usa-link" href={`${baseUrl}about/master-contract/#provide-feedback-on-smartpay-4`}
            >Go to Provide Feedback on SmartPay 4</a>
        </p>
      </div>
    </div>
  </div>
</section>
