---
import callout_889 from '@assets/images/callout_889.svg'
import callout_map from '@assets/images/callout_map.svg'
import callout_forum from '@assets/images/callout_forum.svg'
---
<section class="sp_callout">
    <div class="grid-container margin-y-6">
        <div class="grid-row grid-gap ">
          <div class="tablet:grid-col-6 margin-top-1">
            <img
             src ={callout_889}
             alt ="Three panels from a screen, the first panel has a magnifying glass and reads use the 889 search to find your vendor, the second panel has a green check mark and reads in compliance with Section 889, and third panel has a red exclamation mark and reads not in compliance with Section 889."
            >
          </div>
          <div class="tablet:grid-col-6">
            <h2 class="margin-top-0">Section 889 Search</h2>
            <p>Our Section 889 search tool makes it easy to check an entity’s Section 889 status in <a href="https://sam.gov/" class="usa-link--external">SAM.gov</a>.</p>
            <p><a href="https://889.smartpay.gsa.gov/" class="usa-link">Go to the 889 search tool</a></p>
          </div>
        </div>
        <div class="grid-row grid-gap margin-y-2">
            <div class="tablet:grid-col-6 margin-top-1">
                <img
                src ={callout_map}
                alt ="A map of the contiguous United States with Utah highlighted in a darker color than the rest of the states, with Alaska, Hawaii, and U.S territories also shown."
                >
            </div>
            <div class="tablet:grid-col-6">
                <h2 class="margin-top-0">State Tax Information</h2>
                <p>Check the tax-exempt status and policies of U.S. states and territories.</p>
                <p><a href={`${import.meta.env.BASE_URL}smarttax/state-tax-forms`}>Go to tax information</a></p>
            </div>
        </div>
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6 margin-top-1">
                <img
                src ={callout_forum}
                alt ="An illustration of a computer display showing a blue, red, and green charge card in a panel on one side and an illustration of a person wearing a headset and microphone in a panel on the other side."
                >
            </div>
            <div class="tablet:grid-col-6">
                <h2 class="margin-top-0 margin-bottom-1">2023 GSA SmartPay Virtual Training Forum</h2>
                <span class="base-color">June 13-15, 2023</span>
                <p>This three-day virtual event will feature comprehensive training covering all aspects of how to successfully manage your charge card program.
                </p>
                <p><a href={`${import.meta.env.BASE_URL}events/gsa-smartpay-forum`}>Go to event</a></p>
            </div>
        </div>
    </div>
</section>