---
/*
This component is used for FAQ page side navigation.
It takes title and headings parameters.
Sidenav won't set page title as menu item. Menu items only set on H2 headings as parent menu and h3 headings as its sub menu
*/
const { headings, title, classList } = Astro.props;
---

<!-- One of two sidenav's only shown in desktop breakpoints. -->
<div class={`${classList}`}>
  <nav class="sp_site_nav" aria-label="Secondary navigation">
    <div class="sp_site_nav_title">{title}</div>
    {
      headings.map((h) => (
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
            <a
              href={`#${h.slug}`}
            >
              {h.text}
            </a>
            {h.submenu.length > 0 && (
              <ul class="usa-sidenav__sublist">
                {h.submenu.map((h3) => (
                  <li class="usa-sidenav__item">
                    <a
                      href={`#${h3.slug}`}
                    >
                      {h3.text}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        </ul>
      ))
    }
  </nav>
</div>

