---
import GSALogo from '../assets/images/gsa-smartpay-program-logo.svg'
import closeIcon from '../assets/images/usa-icons/close.svg'
import searchIcon from "../assets/images/usa-icons/search--white.svg"


---
<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
      <div class="usa-logo" id="header-logo">
          <a href={`${import.meta.env.BASE_URL}`}>
              <img class="usa-logo-img" src={GSALogo} alt="GSA SmartPay Logo" title="U.S. General Services Administration">
          </a>
      </div>
      <button type="button" class="usa-menu-btn cursor-pointer">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button type="button" class="usa-nav__close">
          <img src={ closeIcon } alt="Close" />
        </button>
        <ul id='header_main_menu' class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-about"
            >
              <span>About</span>
            </button>
            <ul id="extended-nav-section-about" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/`}><span class="margin-x-1">About GSA SmartPay</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/benefits`}><span class="margin-x-1">Benefits of the Program </span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/business-lines`}><span class="margin-x-1">Business Lines</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/master-contract`}><span class="margin-x-1">Master Contract</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/logos`}><span class="margin-x-1">Logos and Designs</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/refunds`}><span class="margin-x-1">Refunds</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/strategic-payment-solutions`}><span class="margin-x-1">Strategic Payment Solutions</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}about/statistics`}><span class="margin-x-1">Statistics and Reports</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-how-it-works"
            >
              <span>How it Works</span>
            </button>
            <ul id="extended-nav-section-how-it-works" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}how-it-works/`}><span class="margin-x-1">How the Program Works</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}how-it-works/eligibility`}><span class="margin-x-1">Eligibility</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-stakeholders"
            >
              <span>Stakeholders</span>
            </button>
            <ul id="extended-nav-section-stakeholders" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}stakeholders/`}><span class="margin-x-1">Key Players</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}stakeholders/program-coordinators`}><span class="margin-x-1">Program Coordinator Responsibilities</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}stakeholders/account-holders`}><span class="margin-x-1">Card/Account Holder Responsibilities</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <a href={`${import.meta.env.BASE_URL}merchants/merchant-overview`} class="usa-nav-link"><span>Merchants</span></a>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-statetax"
            >
              <span>State Tax Information</span>
            </button>
            <ul id="extended-nav-section-statetax" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}smarttax/state-tax-forms`}><span class="margin-x-1">State Tax Forms</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}smarttax/resources`}><span class="margin-x-1">Tax Resources</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}smarttax/recognizing-your-account`}><span class="margin-x-1">Recognizing Charge Cards</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}smarttax/legal-history`}><span class="margin-x-1">Legal History</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-policy"
            >
              <span>Policies & Audits</span>
            </button>
            <ul id="extended-nav-section-policy" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}policies-and-audits/policies`}><span class="margin-x-1">Policies</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}policies-and-audits/audits`}><span class="margin-x-1">Audit Repository</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}policies-and-audits/smart-bulletins`}><span class="margin-x-1">Smart Bulletins</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-resources"
            >
              <span>Resources</span>
            </button>
            <ul id="extended-nav-section-resources" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}resources/tools/section-889`}><span class="margin-x-1">889 tool</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}resources/publications/`}><span class="margin-x-1">Publications and Videos</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href={`${import.meta.env.BASE_URL}events/gsa-smartpay-forum`}><span class="margin-x-1">Events</span></a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="usa-nav__secondary">
          <ul class="usa-nav__secondary-links">
            <li class="usa-nav__secondary-item">
              <a href="https://training.smartpay.gsa.gov">
                Training
              </a>
            </li>
            <li class="usa-nav__secondary-item">
              <a href={`${import.meta.env.BASE_URL}contact/`}>
                Contact
              </a>
            </li>
            <li class="usa-nav__secondary-item">
              <a href={`${import.meta.env.BASE_URL}faq/`}>
                FAQs
              </a>
            </li>
          </ul>
          <section aria-label="Search component">
            <form class="usa-search usa-search--small" role="search">
              <label class="usa-sr-only" for="search-field">Search</label>
              <input
                class="usa-input"
                id="search-field"
                type="search"
                name="search"
              />
              <button class="usa-button" type="submit">
                <img
                  src={searchIcon}
                  class="usa-search__submit-icon"
                  alt="Search"
                />
              </button>
            </form>
          </section>
        </div>
      </div>
    </nav>
    </header>
  
