---
const { id, pages, headings, parent_path} = Astro.props;
pages.sort((a, b) => parseInt(a.data.order) - parseInt(b.data.order))
---
  <nav aria-label="Secondary navigation">
    <ul class="usa-sidenav">
      {pages.map(page => (
        <li class="usa-sidenav__item">
          <a 
            class={id === page.id ? 'usa-current' : null } 
            href={`${import.meta.env.BASE_URL}${parent_path}/${page.slug}`}
          >{page.data.title} {page.id}
          </a>
          <ul class="usa-sidenav__sublist">
            {id === page.id && headings.map(h => (
              <li class="usa-sidenav__item">
                <a 
                  href={`#${h.slug}`}
                  onclick={`document.querySelector('#${h.slug}').scrollIntoView({behavior: "smooth"}); event.preventDefault();`}
                >
                  {h.text}
                </a>
              </li>)
            )}
          </ul>
        </li>))}
    </ul>
  </nav>

