---
const {headings, title, parent_nav_path, parent_nav_text} = Astro.props;
import TopNav from "./TopNav.astro";
---
<div class="usa-layout-docs__sidenav desktop:grid-col-4">
  <TopNav parent_nav_path = {parent_nav_path} parent_nav_text ={parent_nav_text} />
  <nav class="sp_site_nav" aria-label="Secondary navigation">
    <h4>{ title }</h4>
      <ul class="usa-sidenav">
            {headings.map(h => (
                <li class="usa-sidenav__item">
                  <a 
                    href={`#${h.slug}`}
                    onclick={`document.querySelector('#${h.slug}').scrollIntoView({behavior: "smooth"}); event.preventDefault();`}
                  >
                  {h.text}
                  </a>
                </li>)
            )}
     </ul>
  </nav>
</div>

