---
const {items} = Astro.props;

const icon_colors = {
  'highlight_off': 'text-error-dark',
  'check_circle_outline': 'text-success-dark',
  'error_outline': 'text-warning-darker'
}

const explains_iba_cba = items.some(({text}) => text.includes('(IBA)')) &&  items.some(({text}) => text.includes('(CBA)'));
---

<div class="bg-base-lightest padding-2">
    <ul class="usa-icon-list">
      {items.map(({text, icon}) => (
      <li class="usa-icon-list__item">
        <div class:list={["usa-icon-list__icon", icon_colors[icon]]}>
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href={`${import.meta.env.BASE_URL}images/sprite.svg#${icon}`}></use>
          </svg>
        </div>
        <div class="usa-icon-list__content" set:html={text} />
      </li>
      ))}
    </ul>
    {explains_iba_cba 
    ? (
      <p class="margin-bottom-0">
        <a class="usa-link" href={`${import.meta.env.BASE_URL}smarttax/recognizing-your-account`}>Need help recognizing a card or telling if a card is an IBA or CBA?</a>
      </p>
    )
    : (
      <p class="margin-bottom-0">
        <a class="usa-link" href={`${import.meta.env.BASE_URL}smarttax/recognizing-your-account`}>Need help recognizing a card or telling if a card is an individually billed account (IBA) or a centrally billed account (CBA)?</a>
      </p>
    )  
  }
  </div>