---
const {items} = Astro.props;

const icon_colors = {
  'highlight_off': 'text-red',
  'check_circle_outline': 'text-green',
  'error_outline': 'text-warning-darker'
}

const add_link = items.some(({text}) => text.includes('(IBA)') || text.includes('(CBA)'));
---

<div class="bg-base-lightest padding-2">
    <ul class="usa-icon-list">
      {items.map(({text, icon}) => (
      <li class="usa-icon-list__item">
        <div class:list={["usa-icon-list__icon", icon_colors[icon]]}>
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href={`${import.meta.env.BASE_URL}images/sprite.svg#${icon}`}></use>
          </svg>
        </div>
        <div class="usa-icon-list__content" set:html={text} />
      </li>
      ))}
    </ul>
    {add_link && (
    <p class="margin-bottom-0">
      <a href={`${import.meta.env.BASE_URL}smarttax/recognizing-your-account`}>Need help recognizing a card or telling if a card is an IBA or CBA?</a>
    </p>
    )}
  </div>