---
import PageLayout from '@layouts/PageLayout.astro';
import SinglePageSideNav from  '@components/SinglePageSideNav.astro'
import StateTaxSelection from '@components/StateTaxSelection.astro';
import StateTaxSummaryList from '@components/StateTaxSummaryList.astro';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('state-taxes');
  return entries.map(entry => {

    return {
      params: { slug: entry.slug },
      props: { entry, entries }
    }
  })
}

const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric' };
const format_date = date => date.toLocaleDateString('us-EN', options)

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---
<PageLayout title={`${entry.data.name} Tax Information`} description={`Information about ${entry.data.name} state taxes for GSA SmartPay card/account holders`}>
  <!-- One of two sidenav's only shown in desktop breakpoints. -->
  <SinglePageSideNav 
    title={entry.data.name}
    headings={headings}
    parent_nav_path = "smarttax/state-tax-forms"
    parent_nav_text = "Return to State Tax Forms"
    classList = "usa-layout-docs__sidenav display-none desktop:display-block desktop:grid-col-4"
  />
  <main id="main-content" class="desktop:grid-col-8 usa-prose usa-layout-docs">
    <h1>{ entry.data.name } Tax Information</h1>
    <StateTaxSelection 
      current_state={entry.data.name}
      label="Select a different state/US territory"
    />
    {entry.data.summary &&
      <StateTaxSummaryList 
        items={entry.data.summary} 
      />
    }
    
    <Content />
    <p class="margin-top-3 text-base-darker">
      <i>Updated {format_date(entry.data.updated)}</i>
    </p>
  </main>
  <!-- New duplicate section only shown on mobile. -->
  <SinglePageSideNav
      title={entry.data.name}
      headings={headings}
      parent_nav_path = "smarttax/state-tax-forms"
      parent_nav_text = "Return to State Tax Forms"
      classList = "usa-layout-docs__sidenav desktop:display-none mobile:grid-col-12"
  />
</PageLayout>
    
